*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
img{
    cursor: pointer;
}
body{
    background-color: #0d1117;
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;
    background-color: #161b22;
    position: sticky;
    top: 0;

}
.left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.left i{
    font-size: 25px;
}

.middle{
    display: flex;
    gap: 15px;
    align-items: center;
}
.middle .input{
    width: 400px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    padding: 6px 15px;
    border-radius: 30px;
}
.input input{
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    color: #fff;
}
.right{
    display: flex;
    gap: 25px;
    align-items: center;
}
/* !Main */
#main{
    /* display: grid;
    grid-template-columns: 20% 80%; */
    transition: .5s;
}
.shortCutlinks hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.shortCutlinks{
    transition: .5s;
    width: 20%;
    padding: 0 35px 0 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.shortCutlinks::-webkit-scrollbar{
    display: none;
}
.one{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 6px 0;
    padding: 20px;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .2s;
    padding: 10px;
    border-radius: 10px;
}
.links a{
    font-size: 14px;
}
.links:hover{
    background-color: #454545;
}
.subscribtion h3,
.sidebar_four h3{
    padding: 10px 20px;
}
.subsLinks{
    padding: 0 20px;
}
.subsLinks a{
    font-size: 14px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}
.subsLinks a:hover{
    background-color: #454545;
}
/* !Explore */
.sidebar_four{
    padding: 20px 0;
}
.explore{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}
.explore a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 14px;
}
.explore a:hover{
    background-color: #454545;
    transition: .2s;
    border-radius: 10px;
}
/* !five */
.youtubeGang a svg{
    font-size: 20px;
}
/* !six */
.setting{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.setting a{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
}
.setting a:hover{
    background-color: #454545;
    transition: .2s;
}
.copyRight{
    padding: 20px;
}
.copyRight a{
    font-size: 14px;
    padding: 0 5px;
    margin: 2px 0;
    color: #717171;
}
.copyright_,
.terms{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.copyRight p{
    font-size: 13px;
    color: #717171;
}




.mainContent{
    width: 80%;
    overflow-y: scroll;
    height: 100vh;
}
.mainContent::-webkit-scrollbar{
    display: none;
}